			*{ margin: 0; padding: 0; }
			body {
				line-height: 1.6em;
				padding-top: 0px;
				padding-bottom: 40px;
				color: #333;
				font: 16px/1.5 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			}
			.header {
				font-size: 1.0em;
			}
			.index_title {
				text-align: center;
				font-size: 2.5em;
			}
			.top_name {
				font: 16px/1.5 "Roboto Slab", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 1.0em;
				border-bottom: solid 2px #444;
				padding-bottom: 10px;
				margin-bottom: 10px;
				padding-top: 1em;
				background-color: rgba(205, 228, 240, 0.6);
				border-top: solid 4px rgba(205, 228, 240, 1.0);
				border-bottom: solid 2px rgba(205, 228, 240, 1.0);
			}
			.top_name a, .top_name a:hover {
				text-decoration: none;
			}
			.nav-pills a:hover {
				background-color: rgba(66, 139, 202, 0.5) !important;
				color: white !important;
			}
			.top_name h1 {
				font-size: 2em;
				margin: 0;
				margin-bottom: 10px;
				padding: 0;
				font-weight: normal;
			}
			.top_name p {
				font-size: 1.0em;
				color: #666;
			}

			/* Custom container */
			.container-narrow {
				margin: 0 auto;
				max-width: 700px;
			}
			.container-narrow > hr {
				margin: 30px 0;
			}

			.posts {
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				margin-top: 30px;
			}
			.posts li {
				display: list-item;
				margin-bottom: 4px;
			}
			.post li, #post li {
				margin-bottom: 0.55em;
			}
			#post ol, #post ul {
				margin-left: 40px;
			}
			#post ul {
				list-style-type:circle;
			}
			.post_tags {
				font-size: 0.725em;
				margin-left: 10px;
			}
			.social_icons {
				margin-bottom: 3em;
				margin-top: 4em;
				padding-top: 1.5em;
				border-top: solid 1px #ccc;
			}
			.social_icons img {
				opacity: 0.3;
			}
			.main_icon img {
				margin-left: 20px;
			}
			.navbartop {
				height: 2.8em;
			}
			#post {
				text-align: justify;
			}
			#post h1 {
				font-size: 1.6em;
			}
			blockquote {
				font: 400 20px/30px "Vollkorn";
				font-style: italic;
				border-left: 4px solid #CCC;
				padding: 10px 0px 1px 15px;
			}
			blockquote p {
				font-size: 1.0em;
			}
			.pullquote {
				line-height: 1.4em;
				font-size: 1.3em;
				border: 0;
				padding: 0;
				font-style: italic;
				margin: 30px 100px;
			}
			.pullquote p {
				text-indent: -8px;
				line-height: 20px;
			}
			cite, cite a {
				color: #c90707;
				font: 400 1.0em/1.2em "Vollkorn";
				font-style: italic;
			}

			#footnote_box {
				font-size: 1.0em;
				background: #eee;
				padding: 10px 0px 0px 10px;
				margin: 10px;
				border: 1px solid #aaa;
				-moz-box-shadow: 0px 0px 10px #444;
				-webkit-box-shadow: 0px 0px 10px #444;
				box-shadow: 0px 0px 10px #444;
			}

			#footnotediv {
				font-size: 1.0em;
				background-color: #fbfbfb;
				padding: 10px 0px 0px 10px;
				border: 1px solid #CDBBB5;
				box-shadow: 0px 0px 10px #444;
				-moz-box-shadow: 0px 0px 10px #444;
				-webkit-box-shadow: 0px 0px 10px #444;
			}
			.footnotes {
				font-size: 0.9em;
				color: #555;
				margin-top: 2em;
			}
			sup {
				top: -1em;
				line-height: 0;
				padding: 0;
				font-size: 0.825em;
				position: relative;
				display: inline-block;
			}
			sup a {
				font-weight: bold;
				text-decoration: underline;
				padding: 0 4px 5px 4px;
				margin: 0;
			}

			#post h3 {
				margin-top: 1.0em;
				margin-bottom: 0.5em;
			}
			#post h4 {
				margin-top: 1.0em;
				margin-bottom: 0.5em;
			}
			#post p {
				margin-bottom: 1em;
			}
			#footer {
				font-family: 'Fjalla One';
				border-top: solid 1px #ccc;
				font-size: 0.9em;
				margin-top: 1em;
				padding-top: 1em;
			}
			.nolinkcolor a {
				color: #444;
			}
			.posts time {
				width: 70px;
				display: inline-block;
				white-space: nowrap;
				color: #777;
				padding-right: 5px;
				text-align: right;
			}
			h3.date_title {
				color: #777;
				border-bottom: solid 1px #ddd;
				margin-top: 40px;
			}
			a {
				color: #1685b3;
			}
			#website-content {
				min-height: 300px;
				padding-top: 1em;
			}
			.pheader {
				margin-top: 30px;
			}
			.container-narrow {
				max-width: 600px;
			}
			.email_form_desc {
				font-size: 0.9em;
			}

			.post-author-side {
				display: block;
			}
			.post-author-card {
				position: relative;
				width: 150px;
				float: left;
				text-align: center;
				padding: 5px 5px 0;
				overflow: hidden;
				margin-left: -140px;
			}
			#stick-avatar.sticky {
				position: fixed;
				top: 100px;
				opacity: 0.3;
				filter:alpha(opacity=30);
			}
			.post-author-card p {
				margin-top: 1.0em;
				font-weight: 400;
				font-size: 0.825em;
				word-wrap: break-word;
				line-height: 1.4;
			}
			.post-author-card h3 {
				font-size: 1.2em;
			}
			.post-author-card a, .post-author-card a:hover {
				color: #444;
				text-decoration: none;
		}
		.video {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
		}

		.video object,
		.video embed,
		.video iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.gist {
			font-size: 0.825em;
		}
		.picture {
			-moz-border-radius: 450px;
			-webkit-border-radius: 450px;
			-o-border-radius: 450px;
			-ms-border-radius: 450px;
			-khtml-border-radius: 450px;
			-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.25);
			-moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
			box-shadow: 0 2px 3px rgba(0,0,0,.25);
			border: 2px white solid;
			width: 95px;
			height: 95px;
			margin: 10px;
			padding: 0px;
		}
		.archive_title {
			text-align: center;
			border-bottom: 1px solid #ccc;
			max-width: 300px;
			margin: auto;
		}
		.archive_title h3 {
			display: inline-block;
			font-size: 1.2em;
			top: 20px;
			letter-spacing: 0px;
			position: relative;
			font-weight: normal;
			padding: 0 22px;
			background-color: white;
		}
		.archive_title h3 a, .archive_title h3 a {
			color: #777;
			text-decoration: none;
		}
		.post_photo {
			text-align: center;
		}
		mark {
			background-color: #fdffb6;
			padding: 2px;
			box-shadow: #fdffb6 0 0 5px;
			color: #444; 
		}
		.larger {
			font-size: 1.2em;
			line-height: 1.5em;
		}
		h3 {
			color: #777;
		}
		.available_for_you {
			text-align: center;
			margin-top: 2em;
			margin-bottom: 2em;
		}
			.schedule time {
				width: 170px;
				display: inline-block;
				white-space: nowrap;
				color: #444;
			}
			.schedule li {
				display: list-item;
			}
			.schedule {
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				margin-top: 30px;
			}
			.bold {
				text-align: center;
				margin-top: 1em;
			}
			#post img {
				max-width: 100%;
			}

			@media only screen and (max-device-width: 800px) {
				.container-narrow {
					padding-right: 10px;
					padding-left: 10px;
				}
				.posts time {
					width: 50px;
					text-align: left;
				}
				.top_name h1 {
					text-align: center;
				}
			}
