<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/img/avatar.jpg)"></div>
  <div class="authorinfo box">
    <p>Author | David Lin</p>
    <p class="bio">
      I play with data both for a living and for fun and write bits of code in VBA, SQL, AppleScript, and Python.
      I also like playing PC and Xbox Games and creating and consuming all kinds of music.
      Currently Associate Reporting Analyst with [OptumRx Workers Comp & Auto No-Fault](https://workcompauto.optum.com) (OWCA)
      and manager of the [MedicareInsights](http://medicareinsights.com) blog for its Settlement Solutions division.
    </p>
  </div>
</section>
