<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/img/avatar.jpg)"></div>
  <div class="authorinfo box">
    <p>Author | Steven Watson Buehler</p>
    <p class="bio">
      I play with data both for a living and for fun and write bits of code in VBA, SQL, Google Apps Script,
      AppleScript, and Python.
      I also like playing PC and Xbox Games and creating and consuming all kinds of music.
      Currently Associate Reporting Analyst with the Settlement Solutions division of <a
        href="https://workcompauto.optum.com">OptumRx Workers Comp & Auto No-Fault</a> (OWCA)
      and manager of the <a href="http://medicareinsights.com">MedicareInsights</a>.
    </p>
  </div>
</section>