From fabienpenso@gmail.com  Sun Jun  2 22:05:24 2013
Return-Path: <fabienpenso@gmail.com>
X-Original-To: foobar@hostbar
Delivered-To: foobar@hostbar
Received: from mail-ob0-f180.google.com (mail-ob0-f180.google.com [209.85.214.180])
	by plouf.appnotifications.com (Postfix) with ESMTPS id 30DD93099E7
	for <foobar@hostbar>; Sun,  2 Jun 2013 22:05:24 +0200 (CEST)
Received: by mail-ob0-f180.google.com with SMTP id eh20so5881648obb.25
        for <foobar@hostbar>; Sun, 02 Jun 2013 13:05:23 -0700 (PDT)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
        d=gmail.com; s=20120113;
        h=mime-version:from:date:message-id:subject:to:content-type;
        bh=5hE+c5fS/u5tzGojg1a8Y0o5VNJpraKiRXoFxfI28WI=;
        b=FhdhjW6zeVkGrMJ+o2hg1a4YmtauJZ+RhGxcFQGtj9plRBnXJMxxyPPkuudWNeNabk
         HFbSbifto4WZpMWZHbZyDt5z9vx7pmFj3HH5II3Tt1Zum4q6H6oktLCxnBdxX/KK2xZF
         AtAeThEiWF7T5dzOHyVXWcD1BkCVz2po0J9G46NxRizQR4cVfLuKILHBXEo9ECvYw5/k
         u16md87RI6oftWgvDxcT0EL51zWwWPIITjiQETKqEqHl/3H4k4R+5mZd7rvoJ4b4Ag4Y
         HPwp5FiatW7btEEoXM8n9bcQFqg8GZkn4f7zV8s4tmLvARkaN24C6CzSe0m75YbYxFgm
         PgKw==
X-Received: by 10.60.92.230 with SMTP id cp6mr8976624oeb.91.1370203522797;
 Sun, 02 Jun 2013 13:05:22 -0700 (PDT)
MIME-Version: 1.0
Received: by 10.60.124.136 with HTTP; Sun, 2 Jun 2013 13:04:52 -0700 (PDT)
From: Fabien Penso <fabienpenso@gmail.com>
Date: Sun, 2 Jun 2013 22:04:52 +0200
Message-ID: <CAFGMKmc6v4ks2OkOOm2oEF0s-CdbLcbmv2zpNAUmKqVyg++UoA@mail.gmail.com>
Subject:
To: foobar@hostbar
Content-Type: multipart/alternative; boundary=047d7b33cf0e3f178004de315e01

--047d7b33cf0e3f178004de315e01
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: quoted-printable

---
layout: post
author: Fabien Penso
title: Train ride in Cambodia
date: 2013-05-23 01:15:00.000000000 +02:00
description: Train ride in Cambodia from Phnom Penh to Battambang
categories:
- travel
photo: /img/cambodia-train.jpg
---

I was in Cambodia in 2004, and took a train from Phnom Penh to Battambang
(about 280 kms). At first I didn=E2=80=99t understand why people kept fight=
ing to
be able to put their hammock, attaching them through the train wall=E2=80=
=99s holes.

I later understood=E2=80=A6

Before the train departure (a few hours late, come on that's Cambodia=E2=80=
=A6) a
guy asked me to push my legs away to put this big oil tank full of crap, I
did and expected him to move it away later. He never did.

The bench me and my friend used was terrible, a wood bench without anything
to soften your ass, and I could feel any of the rails imperfections while
the train moved. I stood up to go to the restroom (restroom: a hole in the
floor in the last car, with a nice panoramic view on the rails), and when I
came back someone was sit at my place. The bench for 2 people became for 3
as the other person never left.

The train sometimes was going so slow you could walk by, but you=E2=80=99d =
never do
it as land mines were very close, and you wouldn=E2=80=99t want to step on =
any of
them. It was the reason the train was going slow, not to blow up any with
the train shakes.

The ride took 18 hours, I then understood why people fought for using their
hammock.

You can view more photos of my trip [on my flickr set](
http://www.flickr.com/photos/penso/sets/473310/), please note I was using
film I developed myself with my trusty Leica M6.

**Note**: I posted this article on [medium](
https://medium.com/this-happened-to-me/3f3451f1d033) and thought it'd be
nice to have it archived here.

--047d7b33cf0e3f178004de315e01
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: quoted-printable

<div dir=3D"ltr"><div>---</div><div>layout: post</div><div>author: Fabien P=
enso</div><div>title: Train ride in Cambodia</div><div>date: 2013-05-23 01:=
15:00.000000000 +02:00</div><div>description: Train ride in Cambodia from P=
hnom Penh to Battambang</div>

<div>categories:</div><div>- travel</div><div>photo: /img/cambodia-train.jp=
g</div><div>---</div><div><br></div><div>I was in Cambodia in 2004, and too=
k a train from Phnom Penh to Battambang (about 280 kms). At first I didn=E2=
=80=99t understand why people kept fighting to be able to put their hammock=
, attaching them through the train wall=E2=80=99s holes.</div>

<div><br></div><div>I later understood=E2=80=A6</div><div><br></div><div>Be=
fore the train departure (a few hours late, come on that&#39;s Cambodia=E2=
=80=A6) a guy asked me to push my legs away to put this big oil tank full o=
f crap, I did and expected him to move it away later. He never did.</div>

<div><br></div><div>The bench me and my friend used was terrible, a wood be=
nch without anything to soften your ass, and I could feel any of the rails =
imperfections while the train moved. I stood up to go to the restroom (rest=
room: a hole in the floor in the last car, with a nice panoramic view on th=
e rails), and when I came back someone was sit at my place. The bench for 2=
 people became for 3 as the other person never left.</div>

<div><br></div><div>The train sometimes was going so slow you could walk by=
, but you=E2=80=99d never do it as land mines were very close, and you woul=
dn=E2=80=99t want to step on any of them. It was the reason the train was g=
oing slow, not to blow up any with the train shakes.</div>

<div><br></div><div>The ride took 18 hours, I then understood why people fo=
ught for using their hammock.</div><div><br></div><div>You can view more ph=
otos of my trip [on my flickr set](<a href=3D"http://www.flickr.com/photos/=
penso/sets/473310/">http://www.flickr.com/photos/penso/sets/473310/</a>), p=
lease note I was using film I developed myself with my trusty Leica M6.</di=
v>

<div><br></div><div>**Note**: I posted this article on [medium](<a href=3D"=
https://medium.com/this-happened-to-me/3f3451f1d033">https://medium.com/thi=
s-happened-to-me/3f3451f1d033</a>) and thought it&#39;d be nice to have it =
archived here.</div>

</div>

--047d7b33cf0e3f178004de315e01--
