---
layout: default
---

<div id="post" itemscope="" itemtype="http://schema.org/BlogPosting">

	{% if page.photo %}
	<div class="post_photo">
		<a href="{{ page.photo }}" target="_blank"><img src="{{ page.photo }}" alt="{{ page.title | escape }}" itemprop="image" /></a>
	</div>
	{% endif %}

	{% if page.media %}
{{ page.media }}
	{% endif %}

	<h1 itemprop="name">{{ page.title }}</h1>

	<div itemprop="articleBody">
		{{ content }}
	</div>

	<div class="clearfix"></div>

	<div id="page-navigation"> 
		<div class="clearfix">&nbsp;</div> 
		<div class="pull-left"> 
			{% if page.previous.url %} 
			<a href="{{page.previous.url}}" title="Previous Post: 
				{{page.previous.title}}"><i class="icon-double-angle-left"></i> {{page.previous.title}}</a> 
			{% endif %} 
		</div> 

		<div class="pull-right"> 
			{% if page.next.url %} 
			<a href="{{page.next.url}}" title="next Post: 
				{{page.next.title}}">{{page.next.title}} <i class="icon-double-angle-right"></i></a> 
			{% endif %} 
		</div> 
		<div class="clearfix">&nbsp;</div> 
	</div> 

	<div id="footer" class="text-muted">
		<div class="pull-right">
			<i class="icon-tags"></i> {{ page.categories | join: ', ' }}
		</div>
		Published by 
		<span itemprop="author">
			Steven Watson Buehler
		</span>
		— 
		<time datetime="{{ page.date | date_to_xmlschema}}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
	</div>

</div>
